<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wal.chooza_12">
    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Vibrator Permission -->
    <uses-permission android:name="android.permission.VIBRATE">

    </uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>

        <activity
            android:name=".SearchUniversity" >
        </activity>
        <activity
            android:name=".TakeTest" >
        </activity>
        <activity
            android:name=".DisplayResult" >
        </activity>
        <activity
            android:name=".Offerings">
        </activity>
        <activity
            android:name=".signup">
        </activity>
        <activity
            android:name=".login">
        </activity>
        <!-- Splash screen -->
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>